# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Model files - commit these (needed for Railway)
# model/deepfake_detector.h5  ← DO NOT ignore this

# Environment
.env
.env.local

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock

# IDE
.vscode/
.idea/
*.iml

dataset.zip
# OS
.DS_Store
Thumbs.db
*.zip
*.tar.gz
*.7z
*.mp4
*.mov