# --- Large Files & Datasets (CRITICAL) ---
dataset.zip
*.zip
*.tar.gz
*.7z

# Ignore the dataset folder 
dataset/

# --- Model Weights Management ---
# We ignore general weights but SPECIFICALLY allow the production model
model/
!model/deepfake_detector.keras
!model/deepfake_detector.pt

*.pt
*.bin

# --- Python & Environments ---
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env

# --- Flutter / Dart / Mobile Build Artifacts ---
/build/
frontend/build/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release
app.*.symbols
app.*.map.json

# --- Editors & IDEs ---
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history
*.swp
*.class
*.log

# --- OS Specific ---
.DS_Store
Thumbs.db
.atom/
.svn/

# --- Miscellaneous ---
.build/
.buildlog/
.swiftpm/
migrate_working_dir/